/** Medium.css **/
@media (min-width: 800px){
    
    .main-join{
        display: block;
    }    

    .home-main{
        display: grid;
        grid-template-areas: "h h h"
                             "n n n"
                             "x x x"
                             "j j j"
                             "e e w";
    }

    .main-spotlight{
        display: flex;
    }

}