@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

 /* Color Pallete
    Beaver = rgb(159, 126, 105);
    Khaki Web = rgb(210, 187, 160);
    Kombu Green = rgb(49, 73, 60);
    Rich Black FORGA 29 = rgb(0, 26, 35);
    Caput Mortuum = rgb(85, 27, 20); */

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(210, 187, 160);
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(49, 73, 60);
    color: white;
    border: 2px black solid;
    border-radius: .5rem;
}

header img{
    margin: 1rem;
}

header h1{
    text-align: center;
}

header div:nth-child(2){
    width: 100%;
}

#content{
    margin: 0 auto;
    max-width: 640px;
}

main h2{
    text-align: center;
}

footer{
    align-items: center;
    background-color: rgb(49, 73, 60);
    color: white;
    border: 2px black solid;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
}
/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: red;
  }
  
  /* mouse over link */
  a:hover {
    color: orange;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }