@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');  

:root {
    --main: rgb(255, 131, 84);
    --background-light: rgb(79, 93 ,117);
    --background-dark: rgb(45, 49, 66);
    --frame: rgb(191, 192, 192);
    --text-main: rgb(255, 255, 255);

    --text-1: 'Oswald', Oswald;
    --text-2: 'Gill Sans', sans-serif;
}

html {
    font-family: var(--text-2);
    color: var(--text-main);
}

body {
    width: 100%;
    height: 100%;
    background-image:
        url("../images/pexels-fauxels-3183197.jpeg");
    background-size: contain;
    background-repeat: repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: var(--background-dark);
    z-index: -1;
}

header {
    background-color: var(--main);
    border-style: none none solid none;
    border-width: thick;
    border-color: var(--frame);
    position: fixed;
    top: 0px;
    width: 100%;
    font-family: var(--text-1);
    display: flex;
    flex-wrap: wrap;
    padding: 0.3em;
}

#profile-box {
    padding: 0.5em;
    margin: 15px;
    display: inline-flex;
    flex-basis: 10%;
    margin: auto;
}

#home {
    display: inline-block;
    max-width: 50px;
    border-radius: 7%;
    padding: 0.3em;
}

#name {
    font-size: 5vw;
    flex-basis: 75%;
    margin: auto;
    padding: 0.3em;
}

#active {
    background-color: var(--background-light);
    color: var(--text-main);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: var(--text-1);
    flex-wrap: wrap;
    float: none;

}

.navbar ul li a div {
    background-color: var(--background-dark);
    color: var(--text-main);
}

.navbar ul {
    width: 100%;
    padding: 0;
}

.navbar li {
    display: block;
    list-style: none;
    margin: auto;
    border-style: solid;
    border-width: 4px;
    padding: 0;
    width: 85%;

}

a {
    color: var(--text-main);
    text-decoration: none;
}

a:visited {
    color: var(--text-main);
    text-decoration: none;
}

#document-body {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-light);
    width: 78%;
    padding: 1em;
    border-radius: 15px;
}

#palette {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--frame);
    width: 100%;
}

#text1 {
    font-family: var(--text-main);
}

#text2 {
    font-family: var(--text-main);
}

#text3 {
    font-family: var(--text-main);
}

.persona-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    width: 40vw;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--frame);
    padding: 3em;
}

.card h3 {
    font-weight: 400;
    font-style: italic;
    font-size: small;
    color: var(--text-main);
    font-family: var(--text-2);
}

#spacer {
    min-height: 300px;
}

footer {
    display: flex;
    background-color: var(--main);
    position: fixed;
    bottom: 0;
    padding: 0.3em;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: var(--text-main);
    vertical-align: middle;
    flex-direction: column;
    font-size: 3vw;
}

footer p {
    display: block;
}

footer span {
    display: inline-flex;
}

#last-modified {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (min-width: 580px) {
    #title {
        font-size: 24pt;
    }

    #document-body {
        margin-top: 180px;
    }

    body {
        background-size: cover, cover, cover;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar ul {
        margin-bottom: 0;
    }

    .navbar li {
        display: inline-block;
        width: 30%;
    }

    .persona-cards {
        flex-direction: row;
    }

    #name {
        font-size: 24pt;
    }

    footer {
        font-size: 10pt;
    }
}