
/** Large.css **/
@media (min-width: 900px){

    nav ul{
        display: flex;
        flex-direction: row;
    }

    .home-main{
        display: grid;
        grid-template-areas: "e h h x"
                             "w h h x"
                             "j n n x";
    }    

    .spotlight3{    
        display: block;    
    } 

    .main-spotlight{
        flex-direction: column;
    }

    #hamburger-menu{
        display: none;
    }

}
